@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


  body {
    height: 100vh;
    /* background-image: radial-gradient( circle 710px at 5.2% 7.2%,  rgba(37,89,222,1) 0%, rgba(37,89,222,1) 7.5%, rgba(4,4,29,1) 44.7% ); */
    background-image: radial-gradient( circle 382px at 50% 50.2%,  rgba(73,76,212,1) 0.1%, rgba(3,1,50,1) 100.2% );
    /* background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% ); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0;
    padding: 0;
  }

.App {
  text-align: center;
  width: 100%;
}

.weather-container {
  background: #1e1e1e;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 2px 2px 20px rgba(255, 255, 255, 0.1);
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}


input {
  background-color: transparent !important;
  color: white !important;
}

button {
  padding: 10px 15px;
  background: #ff9800;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #e68900;
}

.weather-info {
  margin-top: 20px;
  font-size: 1.2rem;
}

.weather-info h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
